
.piopio{
	position:relative;
}
#pajaro{
	left:100%;
	-moz-animation:volar 5s infinite;
	-webkit-animation: volar 5s infinite;
	-o-animation:volar 5s infinite;
	-ms-animation:volar 5s infinite;
	-khtml-animation:volar 5s infinite;
	animation:volar 5s infinite;
}

@keyframes volar{
	0%{
		left:100%;
		top:5px;
	}25%{
		top:5px;
	}50px{
		top:5px;
	}75%{
		top:5px;
	}100%{
		left:-177px;
		top:5px;
	}
}