#main{
background: url("");
background-repeat: no-repeat;;
background-size: cover;
height: 1000px;
overflow-x: scroll;
background-position: center;
width:100%;
}
html{
width:100%;
height:100%;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	float:right;
}

li a{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
	font-weight: bold;
	    color: #0c0c0c;
    text-align: right;
}
hr { 
	border-top: 3px double #080808;
    margin-top: 0.5px;
    margin-bottom: 0px
}
.active{
    font-weight: bold;
    font-style:italic;
    text-decoration: underline;
}

 footer{
    color: black;
    font-weight: bold;
    background-color: #e7e7e7;
    font-size:15px;
 }

 #contact{
    background-color:#907f7f;
    font-family: 'Roboto', sans-serif;
    height: 950px;
}

#contact .well{
    margin-top: 100px;
    border-radius:0;
}

#contact .form-control{
    border-radius: 0;
    border:2px solid #1e1e1e;
}

#contact button{
    border-radius:0;
    border:2px solid #1e1e1e;
}

#contact .row{
    margin-bottom:30px;
}

@media (max-width: 700px) { 
    #contact iframe {
        margin-bottom: 15px;
        width:370px;
    }
    
}