#main{
background: url("https://images.unsplash.com/photo-1519719498756-2f0d81cdf13b");
background-repeat: no-repeat;;
background-size: cover;
height: 1000px;
overflow-x: scroll;
background-position: center;
width:100%;
}
html{
width:100%;
height:100%;
}
h1{
font-family: 'Great Vibes', cursive;
font-weight: bold;
font-size: 70px;
color: #0c0c0c;
}
h3{
font-family: 'Cinzel', serif;
color: #0c0c0c;
font-weight: bold;
}
.content{
padding-top: 9%;
text-align: center;
}
hr{
width: 400px;
border-top: 1px solid #f8f8f8;
}
.login{
color:#4e4a4a;
font-size:15px;
}

.log-section{
	border: 1px solid #b9b9b9;
	background-color: #eef7f3
}

.log-section h1{
	font-family: 'Roboto Slab', serif;
	font-size:25px;
}

.login-help{
	padding-top: 10px;
	padding-left: 5px;
    padding-bottom: 7px;
}

#loginForm{
	padding-left: 5px;
}
 footer{
    color: black;
    font-weight: bold;
    background-color: #e7e7e7;
    font-size:15px;
 }

#nepal-flag{
	width:10%;
}

@media only screen and (max-width: 600px) {
    #nepal-flag {
        float:right;
        padding-left: 5px;
    }
    h1{
    	font-size: 65px;
    }
    #main{
        background: url("https://images.unsplash.com/photo-1519719498756-2f0d81cdf13b");
background-repeat: no-repeat;;
background-size: cover;
overflow: scroll;
max-height:600px;
background-position: center;
width:100%;
    }
    #alertmessage{
        display: none;
    }
}

.loader { width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;}

}

a#loginButton{
    color: #060606;
    text-decoration: none;
    font-size: 25px;
    border: 2px solid black;
    background-color: #e7e7e7;
}